
h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h1{
    font-size: xx-large;
}

p, nav{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

button{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

body {
    width: 100%;
}

header{
    background-color: #082B59;
    border-bottom: 10px solid #D98555;
    padding: 5px 60px 5px 60px;
    max-width: 1920px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 180px;
    grid-column-start: 2;
    grid-column-end: 3;
}

nav {
    width: 100%;
    grid-column-start: 4;
    grid-column-start: 5;
    display: inline-block;
    margin: auto;
    justify-content: space-evenly;
}

nav ul{
    padding-left: 0;
    margin: auto;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 10px 60px 10px 60px;
    font-size: larger;
    display: inline-block;
}

nav a:hover{
    color: #D98555;
    text-decoration: none;
    margin: 10px 60px 10px 60px;
    font-size: larger;
    display: inline-block;

}

.fas{
    color: white;
    padding: .5rem;
}

.fas:hover{
    color: #D98555;
}

article{
    padding: 180px 60px 180px 60px;
    height: fit-content;
    align-content: center;
}

footer{
    width: auto;
    height: fit-content;
    background-color: #082B59;
    border-top: 10px solid #D98555;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 100px 10px 100px;
    overflow: auto;
    justify-content: center;
    align-content: center;
}

footer p {
    width: 100%;
    text-align: center;
    color: white;
}

.social-media{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}

button{
    background-color: #59331D;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    min-width: 100px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #D98555;
    text-decoration: underline;
}

.bottom-img{
    width: 100%;
    height: 200px;
    background-image: url(https://pictures.dealer.com/f/fullercincinnatifordfd/0739/b5abe83bc380ea85863022c5340ea45cx.jpg);
    background-repeat: repeat-x;
}

.standard-grid{
    display: grid;
    grid-template-columns: 50% auto 40%;
}

.blurb{
    grid-column-start: 1;
    grid-column-end: 2;
}

.blurb-img{
    grid-column-start: 3;
    grid-column-end: 4;
    align-content: center;
}

.blurb-img img{
    width: 100%;
    border-radius: 8px;
}

p a{
    color: #59331D;
}

p a:hover{
    color: #D98555;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
}

.col-1-img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.col-1-text{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.col-2-img{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.col-2-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.col-3-img{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.col-3-text{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.product-grid img{
    width: 70%;
    border-radius: 8px;
}

.product-grid div{
    width: 70%;
}


@media only screen and (max-width: 400px) {
    header{
        display: grid;
        grid-template-rows: 2 1fr;
        justify-content: center;
    }
    .logo {
        justify-content: center;
        align-items: center;
    }
    .logo img{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    nav{
        grid-row-start: 2;
        grid-row-end: 3;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav a{
        text-align: center;
    }

    article{
        padding: 60px 20px 60px 20px;
    }
    .standard-grid{
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        overflow: auto;
    }

    .product-grid{
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        overflow: auto;
        align-content: center;
        justify-content: center;
    }
  }